* {
    box-sizing: border-box;
    font-family: 'Press Start 2P';
  }
  
html {
    background-color: rgb(0, 0, 0);
    color: white;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.board {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#gameplayScreen {
    display:none;
    flex-direction: column;
    align-items: center;
}
#restart {
    display:none;
}

#players {
    display:flex;
    flex-direction: row;
}

#player1 {
    text-align: left;
    margin-top: -16px;
    margin-right:32px
}

#player2 {
    text-align: right;
    margin-top: -16px;
    margin-left:32px
}

#message {
    margin: 64px;
    font-size: 32px;
}

table {
    border-spacing: 8px;
}

td {
    background-color: black;
    border-left: white 8px solid;
    border-right: white 8px solid;
    border-top: white 12px solid;
    border-bottom: white 12px solid;
    height: 128px;
    width: 128px;
    text-align: center;
    font-size: 64px;
  }

  h2 {
    text-align: center;
  }

  .startingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nameEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    margin-bottom: 16px;
    text-align: center;
  }

  #EnterButton {
    margin: 16px;
  }
